.find-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  padding-bottom: 20px;
  font-size: 40px;
}

.recommended-friends {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--gray);
}

.recommended-friends__content {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  color: var(--gray);
}

.find-header__icons {
  display: flex;
  justify-content: space-between;
}

.find-header__icon {
  padding-left: 10px;
}

.find-header__icon:last-child {
  position: relative;
  display: flex;
}

.find-badge {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  left: 20px;
  top: -5px;
}

.open-chat__header {
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.open-post__column {
  display: flex;
  flex-direction: column;
}

.open-post__title {
  font-weight: 700;
  padding-bottom: 5px;
}

.open-post__hashtags {
  color: var(--gray);
  padding-bottom: 5px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__profile {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  padding-right: 2px;
}

.open-post__member-count {
  color: var(--gray);
  padding-right: 2px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: var(--gray);
  margin: 0px 3px;
}

@keyframes Flicker {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.open-post__status {
  color: rgba(255, 40, 144, 0.8);
  font-weight: 700;
  animation: Flicker 1s ease-in-out infinite;
}

.open-post__thumbnail {
  display: flex;
  position: relative;
}

.open-post__thumbnail img {
  width: 125px;
  height: 125px;
  border-radius: 10px;
}

.open-post__heart {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px 7px;
  border-radius: 20px;
  width: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  right: 7px;
  bottom: 7px;
  font-size: 16px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
