.settings-list:first-child {
  padding-bottom: 50px;
  border-bottom: var(--main-border);
}

.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.8;
}

.settings__setting__icon-container {
  width: 50px;
  display: flex;
  justify-content: center;
}

.settings__setting__column {
  display: flex;
}

.settings__setting__description {
  color: var(--gray);
}

.settings__setting:last-child {
  border-bottom: 0px;
}
